<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <!-- <link href="../public/style.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <h1>URL Shortener Microservice</h1>
      <main>
        <section>
          <form action="api/shorturl" method="POST" class="my-4 form-inline">
            <fieldset>
              <legend>URL Shortener</legend>
              <label for="url_input" class="sr-only">URL:</label>
              <input required class="form-control mr-2" id="url_input" type="url" name="url" placeholder="Enter URL"/>
              <button class="btn btn-success" type="submit">POST URL</button>
            </fieldset>
          </form>
        </section>
      </main>
      <footer>
        <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
      </footer>
    </div>
    <script src="../print.js"></script>
  </body>
</html>
